.Situation-List{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 5rem;
}

.Situation-List button{
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: #134155;
	border: transparent;
	color:white;
}

.Situation-List button:hover{
	background-color: hotpink;
}


.Situation-List img{
	width: 180px;
	height: 180px;
	border-radius: 5%;
	border: 2px solid #662829;
}