.user-card{
	background-color: #134155;
	margin: 0.2rem;
	padding: 0.2rem;
	border-radius: 5%;
	width: auto;
	border: 2px solid #662829;
}

.user-card img{
	width: 100px;
	height: 100px;
	border-radius: 25%;
	border: 2px solid #662829;
}

.user-card h4{
	margin: 0.2rem;
	padding: 0.2rem;
}

.user-card button{
	background-color: transparent;
	border: transparent;
	color:white;
}

.user-card button:hover{
	background-color: hotpink;
}