.register-section{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	color: white;
	font-size: 2rem;
	flex-direction: column
}

.register-form{
	width: 50%;
    height: 3rem;
    border-radius: 2rem;
    background: white;
    padding: 1rem;
}

.register-input{
	width: 90%;
    height: 90%;
    border: transparent;
    font-size: 2rem;
    border-bottom: 2px solid orange;
}

.register-input:focus{
    border: transparent;
}